{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class='d-flex justify-content-center mb-4'>
        <a href="{{ path('task_create') }}" class="btn btn-info">Créer une tâche</a>
    </div>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4 rounder">
            <div class="thumbnail">
                <div class="border mb-4 d-flex flex-column"> 
                    <div class="ms-auto">
                        {% if task.isDone %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-pencil-fill mb-1" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                        {% if is_granted('TASK_EDIT', task) %}
                        <h4><a href="{{ path('task_edit', {'id' : task.id }) }}" class="text-warning ms-2">{{ task.title|capitalize }}</a></h4>
                        {% else %}
                        <h4 class="text-warning ms-2">{{ task.title|capitalize }}</h4>
                        {% endif %}
                    </div>
                    <div class="text-center p-3">
                        <p>{{ task.content|nl2br }}</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-evenly align-items-center flex-wrap">
                        <div>
                            {% if task.user != null %}
                            <div class="d-flex text-center p-2 text-break">
                                <p> <span class='fw-bolder'> Auteur </span> : {{ task.author }} </p>
                            </div>
                            {% else %}
                            <div class='d-flex align-items-center'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-triangle-fill mb-3" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <p class='text-danger p-1 rounded'> <span class='fw-bolder'> Auteur </span> : Anonyme </p>
                            </div>
                            {% endif %}
                        </div>
                        <div>
                            <p> <span class='fw-bolder'>Crée le </span> : {{ task.createdAt|date("d/m/Y")  }} </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row p-3 border bg-light bg-gradient {% if task.user == null or task.user.id != app.user.id %} justify-content-center {% else %} justify-content-between {% endif %}">
                        {% if is_granted('TASK_TOGGLE', task) %}
                        <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                            <button class="btn btn-success btn-sm">
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </button>
                        </form>
                        {% endif %}
                        {% if is_granted('TASK_DELETE', task) %}
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning text-center m-2" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}
