<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>

        {% block javascripts %}
            <!-- Jquery -->
            <script type="text/javascript" src="\js\jquery-3.6.0.min.js"></script>
        {% endblock %}

        <!-- bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Custom CSS -->
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>

                    <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row d-flex justify-content-evenly m-2">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_list') }}" class="btn btn-primary btn-home-page">Gestion des utilisateurs</a>
                {% endif %}

                {% if app.user and 'homepage' != app.request.attributes.get('_route') %}
                <a href="{{ path('homepage') }}" class="btn btn-warning btn-home-page">Accueil</a>
                {% endif %}

                {% if app.user %}
                <a href="{{ path('logout') }}" class="btn btn-danger btn-home-page">Se déconnecter</a>
                {% endif %}

                {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                <a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success text-center" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger text-center" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    {% block header_img %}<img class="slide-image rounded" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container">

            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>

        </div>
    </body>
</html>
